.BoxList-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BoxList-main > i {
  cursor: pointer;
  margin: 10px;
  color: #aaa;
}

.BoxList-main > i:hover {
  color: black;
}

.bi {
  font-size: 35px
}
